<h1><span id="name"><%= @values[:name] %></span> (<span id="symbol"><%= @values[:symbol] %></span>)</h1>

<p class="quote">Last value: <span id="lastTrade"><%= @values[:lastTrade] %></span> (at <span id="time"><%= @values[:time] %></span> <span id="date"><%= @values[:date] %></span>)</p>
<p class="about"><em>Data last updated: <span id="updatedAt"><%= @values[:updatedAt] %></span></em></p>
